.cards-container {
  height: auto;
}
.cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2em 2em;
  align-items: center;
  justify-items: center;
  position: relative;
  top: 0;
  padding: 18em 0;
}
